    <footer class="d-flex mt-auto">
      <div class="col py-3 mt-4 px-5 border-top text-center">
        <p class="mb-0 text-muted"><small>Company name created by María Gómez Gómez y Ivonne Barata Muñoz Web Engineering and Services course - &copy;&nbsp;GameShop</small></p>
      </div>