    <header class="pt-5 mb-4 bg-secondary text-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col p-5 text-center"
                
                    style="background-image: url(deporte.jpg) ;">
                    <img src="logotipom.png" width="80vw" height="80vh">
                    <h1 class="display-3"  ><b>SportShop Web Site</b></h1>
                    <b class="lead fs-4"   >This Web site presents a fictional catalogue and shopping 
        cart for the WES SportShop company</b>

                </div>
            </div>
        </div>
    </header>