<script>
    function signin_clicked(e) {
        e.preventDefault();
        e.stopPropagation();
        $('#signin-form').submit();
    }


      $(function () {
        $('#signin-form').on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();

            if (!this.checkValidity()) {
                $(this).addClass('was-validated');
                return false;
            }
            Model.signin($('#email').val(), $('#password').val()).done(function (user) {
                Messages.success.push('Welcome back!');
                
                navigateTo(event, '/');
            }).fail(function (error) {
                
                Messages.danger.push(`${error.statusText} (${error.status}): ${error.responseJSON.message}`);
                navigateTo(event, '/signin');
            });

        });
        $('#signin-form input').on('blur', function (e) {
            if (!this.checkValidity()) {
                $(this).removeClass('is-valid').addClass('is-invalid');
            }
            else {
                $(this).removeClass('is-invalid').addClass('is-valid');
            }
        });
    });


</script>


{{> navbar}}

{{#> header}}
<div class="d-flex pt-5 mb-4"></div>
{{/ header}}
{{> messages}}
    <main>
      <form id="signin-form" class="w-75 mx-auto needs-validation" novalidate>
        <div class="form-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
          <div class="invalid-feedback">The email field cannot be empty</div>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Password" required="">
          <div class="invalid-feedback">The password field cannot be empty</div>
        </div>
        &nbsp;
        <div class="card-body d-flex justify-content-end align-items-center">
          <a class="btn btn-primary" href="/index" onclick="signin_clicked(event)" role="button">Sign in</a>
        </div>
      </form>
    </main>

{{> footer}}
  
